WcfService1/Consumer/Service References/ExampleService/ExampleService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ExampleWcfService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ExampleWcfService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CompositeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BoolValue" type="xs:boolean" />
      <xs:element minOccurs="0" name="StringValue" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CompositeType" nillable="true" type="tns:CompositeType" />
  <xs:complexType name="ArrayOfAirLine">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AirLine" nillable="true" type="tns:AirLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAirLine" nillable="true" type="tns:ArrayOfAirLine" />
  <xs:complexType name="AirLine">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AirLine" nillable="true" type="tns:AirLine" />
</xs:schema>